.calc-container {
  margin-top: 2vh;
  display: flex;
}

.some-math-text {
  flex: 0.35;
  font-size: 20px;
  font-weight: bold;
  color: blue;
}

.calc {
  flex: 0.65;
  margin-left: 50px;
}

.calc-result {
  justify-content: right;
  color: #fff;
  background-color: rgb(77, 71, 71);
  height: 50px;
  align-items: center;
  display: flex;
  padding-right: 10px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(60px, auto);
}

.button {
  background-color: #b4bebb;
}

.button:nth-child(4n) {
  background-color: orange;
}
