.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: brown;
}

nav > ul {
  list-style: none;
  align-items: center;
  justify-content: center;
}

nav > ul li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
  align-items: center;
  font-size: 20px;
}

nav > ul li > a {
  color: blue;
}

nav > ul li:not(:last-child)::after {
  content: "";
  border: 1px solid #000;
  border-width: 1px 1px 0 0;
  position: absolute;
  right: -3px;
  top: 0;
  height: 100%;
}
